[{:process 13, :type :invoke, :f :write, :value 1}
{:process 14, :type :invoke, :f :write, :value 2}
{:process 29, :type :invoke, :f :write, :value 3}
{:process 12, :type :invoke, :f :read, :value nil}
{:process 12, :type :ok, :f :read, :value nil}
{:process 13, :type :info, :f :write, :value 0}
{:process 29, :type :info, :f :write, :value 0}
{:process 14, :type :info, :f :write, :value 0}
{:process 30, :type :invoke, :f :read, :value nil}
{:process 10, :type :invoke, :f :write, :value 4}
{:process 26, :type :invoke, :f :write, :value 5}
{:process 12, :type :invoke, :f :write, :value 6}
{:process 30, :type :fail, :f :read, :value nil}
{:process 12, :type :info, :f :write, :value 0}
{:process 10, :type :info, :f :write, :value 0}
{:process 26, :type :info, :f :write, :value 0}
{:process 16, :type :invoke, :f :write, :value 7}
{:process 25, :type :invoke, :f :write, :value 8}
{:process 15, :type :invoke, :f :read, :value nil}
{:process 17, :type :invoke, :f :read, :value nil}
{:process 17, :type :ok, :f :read, :value 2}
{:process 15, :type :ok, :f :read, :value 2}
{:process 16, :type :info, :f :write, :value 0}
{:process 25, :type :info, :f :write, :value 0}
{:process 19, :type :invoke, :f :read, :value nil}
{:process 8, :type :invoke, :f :write, :value 9}
{:process 21, :type :invoke, :f :read, :value nil}
{:process 15, :type :invoke, :f :read, :value nil}
{:process 19, :type :fail, :f :read, :value nil}
{:process 8, :type :info, :f :write, :value 0}
{:process 15, :type :fail, :f :read, :value nil}
{:process 21, :type :fail, :f :read, :value nil}
{:process 2, :type :invoke, :f :read, :value nil}
{:process 23, :type :invoke, :f :write, :value 10}
{:process 5, :type :invoke, :f :write, :value 11}
{:process 4, :type :invoke, :f :write, :value 12}
{:process 2, :type :ok, :f :read, :value 8}
{:process 5, :type :ok, :f :write, :value 11}
{:process 4, :type :ok, :f :write, :value 12}
{:process 23, :type :ok, :f :write, :value 10}
{:process 1, :type :invoke, :f :write, :value 13}
{:process 6, :type :invoke, :f :write, :value 14}
{:process 18, :type :invoke, :f :write, :value 15}
{:process 28, :type :invoke, :f :read, :value nil}
{:process 28, :type :ok, :f :read, :value 11}
{:process 1, :type :ok, :f :write, :value 13}
{:process 6, :type :ok, :f :write, :value 14}
{:process 18, :type :ok, :f :write, :value 15}
{:process 22, :type :invoke, :f :write, :value 16}
{:process 24, :type :invoke, :f :read, :value nil}
{:process 9, :type :invoke, :f :read, :value nil}
{:process 18, :type :invoke, :f :read, :value nil}
{:process 18, :type :ok, :f :read, :value 14}
{:process 9, :type :ok, :f :read, :value 14}
{:process 24, :type :ok, :f :read, :value 14}
{:process 22, :type :ok, :f :write, :value 16}
{:process 27, :type :invoke, :f :write, :value 17}
{:process 31, :type :invoke, :f :write, :value 18}
{:process 17, :type :invoke, :f :read, :value nil}
{:process 7, :type :invoke, :f :read, :value nil}
{:process 7, :type :ok, :f :read, :value 16}
{:process 17, :type :ok, :f :read, :value 16}
{:process 31, :type :ok, :f :write, :value 18}
{:process 27, :type :ok, :f :write, :value 17}
{:process 3, :type :invoke, :f :read, :value nil}
{:process 2, :type :invoke, :f :read, :value nil}
{:process 20, :type :invoke, :f :read, :value nil}
{:process 23, :type :invoke, :f :read, :value nil}
{:process 23, :type :ok, :f :read, :value 18}
{:process 20, :type :ok, :f :read, :value 18}
{:process 3, :type :ok, :f :read, :value 18}
{:process 2, :type :ok, :f :read, :value 18}
{:process 28, :type :invoke, :f :write, :value 19}
{:process 11, :type :invoke, :f :read, :value nil}
{:process 5, :type :invoke, :f :write, :value 20}
{:process 2, :type :invoke, :f :read, :value nil}
{:process 2, :type :ok, :f :read, :value 18}
{:process 11, :type :ok, :f :read, :value 18}
{:process 28, :type :ok, :f :write, :value 19}
{:process 5, :type :ok, :f :write, :value 20}
{:process 23, :type :invoke, :f :write, :value 21}
{:process 6, :type :invoke, :f :read, :value nil}
{:process 24, :type :invoke, :f :write, :value 22}
{:process 0, :type :invoke, :f :write, :value 23}
{:process 6, :type :ok, :f :read, :value 19}
{:process 23, :type :ok, :f :write, :value 21}
{:process 24, :type :ok, :f :write, :value 22}
{:process 0, :type :ok, :f :write, :value 23}
{:process 6, :type :invoke, :f :read, :value nil}
{:process 2, :type :invoke, :f :write, :value 24}
{:process 20, :type :invoke, :f :write, :value 25}
{:process 5, :type :invoke, :f :write, :value 26}
{:process 6, :type :ok, :f :read, :value 24}
{:process 5, :type :ok, :f :write, :value 26}
{:process 2, :type :ok, :f :write, :value 24}
{:process 20, :type :ok, :f :write, :value 25}]